<tr id="<%= dom_id course %>">
	<td><%= course.id %></td>
	<td><%= course.name %></td>
	<td><%= course.user.name %></td>
	<td><%= link_to course.students.count, students_course_path(course.id) %></td>
	<td><%= link_to "Show", course %></td>
</tr>
