<p style="color: green"><%= notice %></p>
<h1>Course Details </h1>

<table>
  <tr>
    <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Instructor name</td>
    <td>Students Count</td>
    <td>Action</td>
  </tr>

  <%= render @course %>
</table>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
